[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
sentry-sdk = "*"

[dev-packages]
isort = "*"
black = "*"
pylint = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
pytest-twisted = "*"
pytest-xdist = "*"
tox = "*"
