[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-mini-racer = "*"
pyppeteer = "*"
scrapy = "*"
scrapy-cookies = "*"
scrapy-httpcache = "*"
scrapy-httpproxy = "*"
sentry-sdk = "*"
txmongo = "*"

[dev-packages]
isort = "*"
black = "*"
pylint = "*"
ipython = "*"
mitmproxy = "*"
pytest = "*"
pytest-cov = "*"
pytest-twisted = "*"
pytest-xdist = "*"
tox = "*"
